
  
  

#flex-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  position: relative;
  max-width: 1200px;

}

#box1{
  background-color: blue;
  position: relative;
  width: 200px;
  height: 200px;
}

#box2{
  background-color: black;
  position: relative;
  width: 200px;
  height: 200px;
}

#box3{
  background-color: red;
  position: relative;
  width: 200px;
  height: 200px;
}

#box4{
  background-color: green;
  position: relative;
  width: 200px;
  height: 200px;
}